@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&family=Montserrat:ital,wght@1,100&display=swap');

html {
    scroll-behavior: smooth;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;

}

.navbar-nav a {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;

}

.navbar-nav a:hover {
    border-bottom: 1px dotted white;
}

.bantu p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}